{% extends 'mineral/layout.html' %}
{% load static from staticfiles %}

{% block title %} 
    {{ mineral.name }}
{% endblock %}

{% block content %}
<body>
    <div class="bounds bounds--small">
        <div class="grid-100">
            <a href="{% url 'minerals:mineral_list' %}">
                <svg class="logo" viewBox="0 0 127.6 84.8" preserveAspectRation="xMinYMin meet">
                <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "/>
                <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "/>
                <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "/>
                </svg>
                <h1 class="logo__name text-centered">Macky's Minerals</h1>
            </a>
            <p class="logo__text text-centered">They're not rocks!</p>
        </div>

        <div class="grid-100 mineral__container">
            <h1 class="mineral__name">{{ mineral.name }}</h1>
            <div class="mineral__image-bg">
                <img class="mineral__image" src="{{ mineral.image_filename.url }}">
                <p class="mineral__caption">{{ mineral.image_caption }}</p>
            </div>

            <div class="mineral__table-container">
                <table class="mineral__table">

                    {% if mineral.category %}
                        <tr>
                            <td class="mineral__category">Category</td>
                            <td>{{ mineral.category }}</td>
                        </tr>
                    {% endif %}
                    {% if mineral.formula %}
                        <tr>
                            <td class="mineral__category">Formula</td>
                            <td class="mineral__formula">{{ mineral.formula|safe }}</td>
                        </tr>
                    {% endif %}
                    {% if mineral.strunz_classification %}
                        <tr>
                            <td class="mineral__category">Strunz Classification</td>
                            <td>{{ mineral.strunz_classification }}</td>
                        </tr>
                    {% endif %}
                    {% if mineral.color %}
                        <tr>
                            <td class="mineral__category">Color</td>
                            <td>{{ mineral.color }}</td>
                        </tr>
                    {% endif %}
                    {% if mineral.crystal_system %}
                        <tr>
                            <td class="mineral__category">Crystal System</td>
                            <td>{{ mineral.crystal_system }}</td>
                        </tr>
                    {% endif %}
                    {% if mineral.unit_cell %}
                        <tr>
                            <td class="mineral__category">Unit Cell</td>
                            <td>{{ mineral.unit_cell }}</td>
                        </tr>
                    {% endif %}
                    {% if mineral.crystal_symmetry %}
                        <tr>
                            <td class="mineral__category">Crystal Symmetry</td>
                            <td>{{ mineral.crystal_symmetry }}</td>
                        </tr>
                    {% endif %}    
                    {% if mineral.cleavage %}
                        <tr>
                            <td class="mineral__category">Cleavage</td>
                            <td>{{ mineral.cleavage }}</td>
                        </tr>
                    {% endif %} 
                    {% if mineral.mohs_scale_hardness %}
                        <tr>
                            <td class="mineral__category">Mohs Scale Hardness</td>
                            <td>{{ mineral.mohs_scale_hardness }}</td>
                        </tr>
                    {% endif %}   
                    {% if mineral.luster %}
                        <tr>
                            <td class="mineral__category">Luster</td>
                            <td>{{ mineral.luster }}</td>
                        </tr>
                    {% endif %} 
                    {% if mineral.streak %}
                        <tr>
                            <td class="mineral__category">Streak</td>
                            <td>{{ mineral.streak }}</td>
                        </tr>
                    {% endif %} 
                    {% if mineral.diaphaneity %}
                        <tr>
                            <td class="mineral__category">Diaphaneity</td>
                            <td>{{ mineral.diaphaneity }}</td>
                        </tr>
                    {% endif %} 
                    {% if mineral.optical_properties %}
                        <tr>
                            <td class="mineral__category">Optical Properties</td>
                            <td>{{ mineral.optical_properties }}</td>
                        </tr>
                    {% endif %}      
                    {% if mineral.refractive_index %}
                        <tr>
                            <td class="mineral__category">Refractive Index</td>
                            <td>{{ mineral.refractive_index }}</td>
                        </tr>
                    {% endif %}                             
                    {% if mineral.crystal_habit %}
                        <tr>
                            <td class="mineral__category">Crystal Habit</td>
                            <td>{{ mineral.crystal_habit }}</td>
                        </tr>
                    {% endif %}
                    {% if mineral.specific_gravity %}
                        <tr>
                            <td class="mineral__category">Specific Gravity</td>
                            <td>{{ mineral.specific_gravity }}</td>
                        </tr>
                    {% endif %}
                    {% if mineral.group %}
                        <tr>
                            <td class="mineral__category">Group</td>
                            <td>{{ mineral.group }}</td>
                        </tr>
                    {% endif %}

                </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}
